/* Background */
.bg {
      background-image: url(Back.png);
}
/* Navigation Bar */
.dpglogonav {
      width:190px;
      height:60px;
}
.homelogonav {
      width:60px;
      height:60px;
      float:right;
      padding-right: 1cm;
      transition: transform 1s;
}
.homelogonav:hover {
      transform:rotate(20deg);
}
.projlogonav {
      width:60px;
      height:60px;
      float:right;
      padding-right: 1cm;
      transition: transform 1s;
}
.vidlogonav {
      width:60px;
      height:60px;
      float:right;
      padding-right: 1cm;
      transition: transform 1s;
}
.aboutlogonav {
      width:60px;
      height:60px;
      float:right;
      transition: transform 1s;
      padding-right: 1cm;
}
.loglogonav{
      width:60px;
      height:60px;
      float:right;
      transition: transform 1s;
}
.projlogonav:hover {
      transform:rotate(20deg);
}
.vidlogonav:hover {
      transform:rotate(20deg);
}
.aboutlogonav:hover {
      transform:rotate(20deg);
}
.loglogonav:hover {
      transform:rotate(20deg);
}
/* Our Projects */
.header{
      font-family:"Nasalization Free.ttf";
      font-size:72px;
      text-align:center;
}
.ourprojgame{
      width: 80px;
      height:80px;
      padding-left: 12.5cm;
      padding-right: 1.2cm;
      padding-bottom: 1;
}
.ourprojgame:hover{
      width:96px;
      height:96px;
}
.ourprojweb{
      width: 80px;
      height:80px;
      padding-left: 4cm;
      padding-right: 1.2cm;
      padding-bottom: 1;
}
.ourprojweb:hover{
      width:96px;
      height:96px;
}
.header2{
      font-family:"Nasalization Free.ttf" ;
      font-size: 58px;
      text-align: center;
}
/* Our Games */
/* Death Dungeon */
.deathdungeontitle {
      font-family:"Nasalization Free.ttf" ;
      font-size: 36px;
      text-align: left;
      padding-left: 4cm
}
.deathdungeondiscribtion {
      font-family:"Nasalization Free.ttf";
      font-size:28px;
      padding-left: 15cm;
}
.deathdungeonimg{
      width: 480px;
      height: 210px;
      padding-left: 1.5cm;  
}
h3{
      font-family: "Nasalization Free.ttf";
      padding-left:24cm;
      color:black;
      font-size:24px;
}
h3:hover{
      color:rgb(28, 172, 52);
}
/* Legend of Legance */
.legendtitle {
      font-family:"Nasalization Free.ttf" ;
      font-size: 36px;
      text-align: left;
      padding-left: 4cm
}
.legenddiscribtion {
      font-family:"Nasalization Free.ttf";
      font-size:28px;
      padding-left: 15cm;
}
.legendimg{
      width: 480px;
      height: 210px;
      padding-left: 1.5cm;  
}
/* Our Websites */
/* DPG Website */
.dpgsitetitle {
      font-family:"Nasalization Free.ttf" ;
      font-size: 36px;
      text-align: left;
      padding-left: 4cm
}
.dpgsitediscribtion {
      font-family:"Nasalization Free.ttf";
      font-size:28px;
      padding-left: 10cm;
}
.dpgsiteimg{
      width: 450px;
      height: 160px;
      padding-left: 1.2cm;  
}